<!DOCTYPE html>
<html>

<head>
    <title>register</title>
    <!-- style css -->
    <link rel="stylesheet" href="/css/style.css">
    <script src="server.js"></script>
</head>
<body style="background-color: #C6AEC7; min-height: 100%">
<header>
    <!-- header inner -->
    <div class="header-top">
        <div class="header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-2 col-lg-4 col-md-4 col-sm-3 col logo_section">
                        <div class="full">
                            <div class="center-desk">
                                <div class="logo">
                                    <a href="/home">
                                        <b style="color: #A42CD6;
                              font-size: 30px;">Minho</b>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-10 col-lg-8 col-md-8 col-sm-9">

                        <div class="menu-area">
                            <div class="limit-box">
                                <nav class="main-menu ">
                                    <ul class="menu-area-main">
                                        <li class="active"> <a href="/home">Home</a> </li>
                                        <li class="active"> <a href="/shop/newprod">New Products!</a> </li>
                                        <li class="active"> <a href="/shop/reviews">Reviews</a> </li>
                                        <li class="active"> <a href="/shop/account">Account</a> </li>
                                        <li class="active"> <a href="/shop/cart">Cart</a> </li>
                                        <li class="active"> <a href="/shop">Shop</a> </li></ul>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <center>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <h3 style="color: #A63EC5">Review page</h3>
        <div class="main">
            </br>
            <div class="first">
                <i>you can search for product reviews</i></br>
                <input class= type="text" id="text-to-find" style="width: 250px" value="" placeholder="please enter the product name">
                <input type="submit"
                       onclick="javascript: FindOnPage('text-to-find'); return false;" value="search" />
                <hr style="width:75%;height: 3px; color: #A63EC5">
                <%data.name.forEach(users=>{%>
                <center>

                    <div class="rew">
                        <b> <i>Name of product:</i></b>
                        <%=users.product %> </br>
                        <b>  <%=users.name %> :</b>
                        <%=users.feedback %>
                        <b> grade: </b> <%=users.grade %>
                    </div>

                </center>
                </br>
                <%})
                %>
            </div>



            <div class="second">
                <i>you can leave a review about the purchased product</i><br>
                <form action="/shop/reviews" method="post" id="reviews">
                    <label for="prod"><b>Product:</b></label><br>
                    <select id="priducts" name="product">
                        <option value="keyboard">Keyboard</option>
                        <option value="Player">Player</option>
                        <option value="Note">Note</option>
                        <option value="Bag">Bag</option>
                        <option value="Rack">Rack</option>
                        <option value="Bottle">Bottle</option>
                    </select><br>

                    <label for="myfile"><b>grade: </b> </label><br>
                    <input type="number" value="10" max="10" min="1" name="grade"><br>
                    <label for="myfile"><b> username:</b> </label><br>
                    <input type="text" name="name"><br>
                    <label for="myfile"><b> feedback: </b></label><br>
                    <input type="text" style="height: 60px" name="feedback"><br><br>
                    <input type="submit" value="Submit">
                </form>
            </div>
        </div>


        </br>


    </center>
    <footr>
        <div class="footer ">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 ">
                        <div class="row">
                            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 ">
                                <div class="address">
                                    <h3>Address </h3>
                                    <ul class="loca">
                                        <li>
                                            <a href="#"></a>It is a long established fact
                                            <br>that a reader will be
                                        </li>
                                        <li>
                                            <a href="#"></a>(+77761985963)
                                        </li>
                                        <li>
                                            <a href="#"></a>demo@gmail.com
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="address">
                                    <h3>Social Link</h3>
                                    <ul class="Menu_footer">
                                        <li class="active"> <a href="#">Twitter</a> </li>
                                        <li><a href="#">Facebook</a> </li>
                                        <li><a href="#">Instagram</a> </li>
                                        <li><a href="#">Linkdin</a> </li>
                                    </ul>
                                </div>
                            </div>


                            <div class="col-lg-4 col-md-6 col-sm-6 ">
                                <div class="address">
                                    <h3>Newsletter</h3>
                                    <form class="news">
                                        <input class="newslatter" placeholder="Enter your email" type="text"
                                               name=" Enter your email">
                                        <button class="submit">Subscribe</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </footr>
</header>
</body>
<style>
    .rew{
        background-color: #A63EC5;
        width: 75%;
        height: 50px;
        font-size: 15px;
        color: white;
    }
    input[type=submit] {
        transition-duration: 0.4s;
        cursor: pointer;
        width:100px;
        height: auto;
        font-size: 15px;
        color: white;
        background-color: #9D00FF;
        border-radius: 10px;
        border: 1px solid white;
    }
    input[type=submit] :hover {
        background-color: #F2A2E8;
    }
    .main{
        display: flex;
        justify-content: space-between;
    }
    .first{
        width: 50%;
        height: 100%;
    }
    .second{
        width: 50%;
        height: 340px;
        background-color: #A63EC5;
        color: white;
    }
</style>
<script>
    //search
    var lastResFind = "";
    var copy_page = "";
    function TrimStr(s) {
        s = s.replace(/^\s+/g, '');
        return s.replace(/\s+$/g, '');
    }
    function FindOnPage(inputId) {
        var obj = window.document.getElementById(inputId);
        var textToFind;

        if (obj) {
            textToFind = TrimStr(obj.value);
        } else {
            alert("The entered phrase was not found");
            return;
        }
        if (textToFind == "") {
            alert("You didn't enter anything");
            return;
        }

        if (document.body.innerHTML.indexOf(textToFind) == "-1")
            alert("Nothing was found, check the correctness of the input!");

        if (copy_page.length > 0)
            document.body.innerHTML = copy_page;
        else copy_page = document.body.innerHTML;

        document.body.innerHTML = document.body.innerHTML.replace(eval("/name=" + lastResFind + "/gi"), " ");
        document.body.innerHTML = document.body.innerHTML.replace(eval("/" + textToFind + "/gi"), "<a name=" + textToFind + " style='background:grey'>" + textToFind + "</a>");
        lastResFind = textToFind;
        window.location = '#' + textToFind;
    }
</script>
</html>




