<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>spirit</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/s.css" rel="stylesheet">
</head>

<body>

<div class="quoteContainer">
    <center>
        <h1>our inspirers</h1>
    </center>
    <div id="quote"></div>
    <div id="author"></div>
    <center>
        <a href="/home">
            <button>back</button></a>
    </center>
</div>

</body>
<script src="s.js"></script>

</html>