<!DOCTYPE html>
<html>

<head>
    <title>register</title>
    <!-- style css -->
    <link rel="stylesheet" href="css/style.css">
    <script src="server.js"></script>
</head>
<body style="background-color: #C6AEC7; min-height: 100%">
<header>
    <!-- header inner -->
    <div class="header-top">
        <div class="header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-2 col-lg-4 col-md-4 col-sm-3 col logo_section">
                        <div class="full">
                            <div class="center-desk">
                                <div class="logo">
                                    <a href="home">
                                        <b style="color: #A42CD6;
                              font-size: 30px;">Minho</b>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-10 col-lg-8 col-md-8 col-sm-9">

                        <div class="menu-area">
                            <div class="limit-box">
                                <nav class="main-menu ">
                                    <ul class="menu-area-main">
                                        <li class="active"> <a href="home">Home</a> </li>

                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <center>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <div class="main">
            </br>
            <div class="first">
                <div class="head">
                    <center>Sort by name </center>
                </div>
                </br></br></br>
                <center>
                    <%result.forEach(users=>{%>
                    <center> <table>
                            <tr>
                                <%=users.username %>
                            </tr>

                        </table></center>
                    <%})
                    %>
                </center>
                    <form action="/admin" method="post">
                        <button>back</button>
                    </form>
            </div>
            <div class="second">
                <img src="https://i.pinimg.com/564x/98/7b/4f/987b4fbb9583c90d7505bd2ce214c26c.jpg">
            </div>
        </div>
        </br>


    </center>

    <footr>
        <div class="footer ">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 ">
                        <div class="row">
                            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 ">
                                <div class="address">
                                    <h3>Address </h3>
                                    <ul class="loca">
                                        <li>
                                            <a href="#"></a>It is a long established fact
                                            <br>that a reader will be
                                        </li>
                                        <li>
                                            <a href="#"></a>(+77761985963)
                                        </li>
                                        <li>
                                            <a href="#"></a>demo@gmail.com
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="address">
                                    <h3>Social Link</h3>
                                    <ul class="Menu_footer">
                                        <li class="active"> <a href="#">Twitter</a> </li>
                                        <li><a href="#">Facebook</a> </li>
                                        <li><a href="#">Instagram</a> </li>
                                        <li><a href="#">Linkdin</a> </li>
                                    </ul>
                                </div>
                            </div>


                            <div class="col-lg-4 col-md-6 col-sm-6 ">
                                <div class="address">
                                    <h3>Newsletter</h3>
                                    <form class="news">
                                        <input class="newslatter" placeholder="Enter your email" type="text"
                                               name=" Enter your email">
                                        <button class="submit">Subscribe</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </footr>
</header>
</body>
<style>
    .head{
        background-color: #9D00FF;
        width: 75%;
        height: 50px;
        font-size: 25px;
    }
    button{
        transition-duration: 0.4s;
        cursor: pointer;
        width:75%;
        height: 50px;
        font-size: 20px;
        color: white;
        background-color: #9D00FF;
        border-radius: 10px;
        border: 1px solid white;
        display: inline-block;
    }
    button:hover {
        background-color: #F2A2E8;
    }
    img{
        width: 60%;
        height: auto;
    }
    .main{
        display: flex;
        justify-content: space-between;
    }
    .first{
        width: 50%;
    }
    .second{
        width: 50%;
    }
    td{
        font-size: 18px;
    }
</style>
</html>